<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SydneyTesters</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6694f1">  <td>17/07/08 16:56:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.browserLaunch()[pri:0, instance:testCase.Insurance@1088d51]">&gt;&gt;browserLaunch</td> 
<td>&nbsp;</td>  <td>main@3224332</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>17/07/08 16:57:14</td>   <td>23122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Insurance.initPages()[pri:0, instance:testCase.Insurance@1088d51]">&gt;&gt;initPages</td> 
<td>&nbsp;</td>  <td>main@3224332</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>17/07/08 16:57:14</td>   <td>23251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Insurance.carInsurence(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.Insurance@1088d51]">carInsurence</td> 
  <td>main@3224332</td>   <td></td> </tr>
<tr bgcolor="6694f1">  <td>17/07/08 16:57:28</td>   <td>37248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tear_down()[pri:0, instance:testCase.Insurance@1088d51]">&lt;&lt;tear_down</td> 
<td>&nbsp;</td>  <td>main@3224332</td>   <td></td> </tr>
<tr bgcolor="6694f1">  <td>17/07/08 16:57:29</td>   <td>37529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.browserLaunch()[pri:0, instance:testCase.Insurance@1088d51]">&gt;&gt;browserLaunch</td> 
<td>&nbsp;</td>  <td>main@3224332</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>17/07/08 16:57:47</td>   <td>56181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Insurance.initPages()[pri:0, instance:testCase.Insurance@1088d51]">&gt;&gt;initPages</td> 
<td>&nbsp;</td>  <td>main@3224332</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>17/07/08 16:57:47</td>   <td>56183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Insurance.lifeInsurence(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCase.Insurance@1088d51]">lifeInsurence</td> 
  <td>main@3224332</td>   <td></td> </tr>
<tr bgcolor="6694f1">  <td>17/07/08 16:58:01</td>   <td>69541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tear_down()[pri:0, instance:testCase.Insurance@1088d51]">&lt;&lt;tear_down</td> 
<td>&nbsp;</td>  <td>main@3224332</td>   <td></td> </tr>
</table>
