<h2>Reporter output</h2><table><tr><td>testCase.Insurance:Initializing driver, Launching http://sydneytesters.herokuapp.com/</td></tr>
<tr><td>testCase.Insurance:Validating insurance home page</td></tr>
<tr><td>testCase.Insurance:Insurance home page loaded successfully.</td></tr>
<tr><td>testCase.Insurance:Launching car quote.</td></tr>
<tr><td>testCase.Insurance:Validating car insurance page</td></tr>
<tr><td>testCase.Insurance:Car insurance home page loaded successfully.</td></tr>
<tr><td>testCase.Insurance:Setting car make: BMW</td></tr>
<tr><td>testCase.Insurance:Setting car make year: 1</td></tr>
<tr><td>testCase.Insurance:Setting driver age: 31</td></tr>
<tr><td>testCase.Insurance:Setting driver gender: female</td></tr>
<tr><td>testCase.Insurance:Setting car reg state: New South Wales</td></tr>
<tr><td>testCase.Insurance:Setting driver email: driver@gmail.com</td></tr>
<tr><td>testCase.Insurance:Retriving car quote.</td></tr>
<tr><td>testCase.Insurance:Car Premium: $66.47</td></tr>
<tr><td>testCase.Insurance:Driver tear down, http://sydneytesters.herokuapp.com/</td></tr>
<tr><td>testCase.Insurance:Initializing driver, Launching http://sydneytesters.herokuapp.com/</td></tr>
<tr><td>testCase.Insurance:Validating insurance home page</td></tr>
<tr><td>testCase.Insurance:Insurance home page loaded successfully.</td></tr>
<tr><td>testCase.Insurance:Launching life quote.</td></tr>
<tr><td>testCase.Insurance:Validating life insurance page</td></tr>
<tr><td>testCase.Insurance:Life insurance home page loaded successfully.</td></tr>
<tr><td>testCase.Insurance:Setting client age 34</td></tr>
<tr><td>testCase.Insurance:Setting client gender: male</td></tr>
<tr><td>testCase.Insurance:Setting  client occupation: Very High Risk</td></tr>
<tr><td>testCase.Insurance:Setting client email: client@gmail.com</td></tr>
<tr><td>testCase.Insurance:Retriving life quote.</td></tr>
<tr><td>testCase.Insurance:Life Premium: $82.93</td></tr>
<tr><td>testCase.Insurance:Driver tear down, http://sydneytesters.herokuapp.com/</td></tr>
</table>